@using BusBoard.Api
@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}


<div class="row">
    <h1>Bus Departure Information for @Model.PostCode.ToUpper()</h1>
    @if (Model.StopInfoList == null)
    {
        <p><b style = "font-size: 32px" > Oops! The Postcode: @Model.PostCode.ToUpper() does not exist!</b></p>
    }
    else{
        foreach(var stopInfo in Model.StopInfoList){
            <p><b style = "font-size: 24px">@($"{stopInfo.BusStop.NaptanId} - {stopInfo.BusStop.CommonName}")</b></p>
            foreach (var disruption in stopInfo.Disruptions)
            {
                <b style = "font-size: 20px; color: red" > <u>Disruption at @stopInfo.BusStop.CommonName</u> </b>
                <p style = "font-size: 18px; color: red" > <b>Type: @disruption.Type - @disruption.Appearance <br/>
                        Until approx: @disruption.ToDate.ToString("dd/MM/yyyy")</b><br/>                                                                                        
                 @disruption.Description </p>                                                                                          
            }
        
            <table border="1px solid black" style="width:80%; font-size: 18px; background-color: #ebebeb">
                <tr>
                    <th style="padding:10px">Line</th>
                    <th style="padding:10px">Destination</th>
                    <th style="padding:10px">ETA</th>
                    <th style="padding:10px">Time until arrival</th>
                </tr>

                @foreach (var arrival in stopInfo.Arrivals)
                {
                    <tr>
                        <td style="padding:10px">@arrival.LineName</td>
                        <td style="padding:10px">@arrival.DestinationName</td>
                        <td style="padding:10px">@arrival.ExpectedArrival.AddHours(1).ToString("HH:mm:ss tt")</td>
                        <td style="padding:10px">@(TimeSpan.FromSeconds(arrival.TimeToStation).ToString(@"mm\:ss") + " mins") </td>
                    </tr>
                }
            </table>
        <br>
        <br>
        }
    }
    
    
    
</div>
